<h2>Danh sách truyện</h2>
@if (loading) {
  <p>Đang tải dữ liệu...</p>
}
@if (error) {
  <p style="color: red">{{ error }}</p>
}
@if (!loading && stories.length === 0) {
  <p>Không có truyện nào</p>
}
@if (stories.length > 0) {
  <table border="1" [cellPadding]="10" [cellSpacing]="0">
    <tr>
      <th>ID</th>
      <th>Tên Truyện</th>
      <th>Tác Giả</th>
      <th>Lượt xem</th>
      <th>Hành động</th>
    </tr>
    @for (story of stories; track story.id) {
      <tr>
        <td>{{ story.id }}</td>
        <td>{{ story.title }}</td>
        <td>{{ story.author }}</td>
        <td>{{ story.view }}</td>
        <td>
          <button (click)="deleteStory(story.id)">Xóa</button>
          
        </td>
      </tr>
    }
    <!-- <br>
    <hr>
    <h1 style="text-align: center; color: red; ">HOT</h1>
    @for (story of stories; track story.id) {
      
      @if (story.view > 90000) {
        
        <tr>
          
          <td>{{ story.id }}</td>
          <td>{{ story.title }}</td>
          <td>{{ story.author }}</td>
          <td>{{ story.view }}</td>
          <td>
            <button (click)="deleteStory(story.id)">Xóa</button>
          </td>
        </tr>
      }
    } -->
  </table>
}
